<%= form_for([@entreprise, @entreprise.prospects.build]) do |f| %>

  <p>
     <%= f.label :full_name %> <br>
     <%= f.text_field :full_name %><br>
  </p><br>

  <p>
     <%= f.label :email %> <br>
     <%= f.text_field :email %><br>
  </p><br>

  <p>
    <%= f.submit %>
  </p>

<% end %>
